.jq-box{
	width:350px;
	height:auto;
    display: none;
    margin:0px auto;
    margin-top:200px;
    padding-top:50px;
	
}
header,footer{
    position: absolute;
    width:100%;
    box-sizing: border-box;
}
header{
    top:0;
    left:0;
    width: 100%;
    text-align: center;
}
footer{
    bottom:0;
}